.SignUp-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
      rgb(255 255 255 / 0%),
      rgba(255, 255, 255, 0)
      )
        ,url("https://img.freepik.com/free-vector/sky-with-anime-fluffy-curve-shaped-clouds-cartoon-vector-illustration-sunny-summer-day-cloudy-heaven-background-with-blue-pink-gradient-color-panoramic-air-landscape-clear-weather_107791-24304.jpg?w=1060&t=st=1708011466~exp=1708012066~hmac=3bb92cc55212e27ae80dce976e71a91f2c19af6575e31f7521e0d5daac7caafb");
    background-size: cover;
    background-position: center;  
    
  }
  .SignUpper-1{
    display: flex;
     color: red;  
    flex-direction: column;
    width: 300px;
    padding: 1%;
  }
  .redirect-1 {
    color: rgb(23, 23, 53);
    cursor: pointer;
    margin-bottom: 30px;
   
}

.span-1{
    font-size: 13px;
    padding: 0px;
    padding-bottom:3%;
    color: rgb(255, 0, 0); 
   
}

.label-1{
    font-size: 14px;
    font-weight: bold;
   color: black;
   padding-inline-start: 0%;
   
}